/* head of pages */
h1, h2, h3 {
font-family: "CyrillicOld";
color: #228B22;
text-align: center;
text-transform: uppercase;
}

h1 {font-size: 3em; letter-spacing: 10; line-height: 0.8;
margin-top: 30pt;}
h2 {
}
h3 {
font-size: 1.5em;
letter-spacing: 2;
line-height: 120%;
/* padding-top: 10pt; */
margin-top: 5pt;
}

hr {
width: 70%;
border-color: #228B22;    /* for Chrome */
background-color: #228B22;
margin-top: -3px;
}

.navbar {
/* border-color: #228B22; */
width: 100px;
height: 100px;
float: left;
margin-left: 1%;
/* position: fixed; */
background-image: url(../images/projects.png);
background-size: cover;
}


/* common style */
p, ul, ol {
font-size: 14pt;
color: black;
text-align: justify;
}

p{
text-indent: 4%;}
ul {padding-left: 8%; margin-top: 1em; margin-bottom: 1em;}
ol {padding-left: 8%; margin-top: 1em; margin-bottom: 1em;}

/* main page */
.about p {
font-family:  "Gabriola";
font-size: 2.5em;
line-height: 0.8;
padding-left: 4%;
padding-right: 4%;
text-indent: 4%;
}

blockquote {
font-family: "Gabriola";
font-size: 22pt;
font-weight: bold;
line-height: 0.8;
color: #5E2E06;
text-align: right;
}

/* project_list div's */

.inner {
margin: 1px;
margin-bottom: 5px;
padding: 10px;
height: 200px;
text-align: center;
font-size: 12pt;
}

.card-content {
text-align: center;
color: #5E2E06;
text-indent: 0%;
}


a:visited, a:hover {
text-decoration: none; /* ссылки без подчеркивания */
}
.inactive {
border: 2px solid #555;
background: #DDD;
color: #999;
}
.inactive h3, .inactive hr, .inactive p {
background: #DDD;
color: #999;
border-color: #999;
}

.in_progress {
/* border-color: #F0911C; */
border: 2px solid #F0911C;
color: #5E2E06;
}

.ready {
/* border-color: #228B22; */
border: 2px solid #228B22;
color: #5E2E06;
}
